* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'PT sans', arial, sans-serif; 
	text-transform: uppercase;
}

a {
	text-decoration: none;
	color: #fff;
}

a:hover {
	color: #aaa2a2;
}

.footer__item a:hover {
	color: #aaa2a2;
}

.footer__cp a:hover {
	color: #aaa2a2;
}

.btn_thb:hover {
	color: #000;
}

.clearfix:after {
	display: table;
	content: ' ';
	clear: both;
}

.container {
	max-width: 1170px;
	min-width: 320px;
	padding-left: 15px;
	padding-right: 15px;
	margin: 0 auto;
}


/*----- thumbNails -----*/

.thumbNails {
	margin-bottom: 45px;
	font-size: 0;
	text-transform: uppercase;
}

.news {
	padding-top: 15px;
	padding-bottom: 15px;
	font-size: 18px;
	text-align: center;
}

.item1 img, 
.item2 img, 
.item3 img {
	width: 100%;
	height: auto;
}

.item1 {
	padding-right: 20px;
}

.item2 {
	padding-left: 10px;
	padding-right: 10px;
}

.item3 {
	padding-left: 20px;
}

.word {
	font-size: 14px;
	text-align: center;
}

.text {
	padding-top: 30px;
}

.cost {
	padding-top: 16px;
	padding-bottom: 16px;
}

.cost span {
	color: #000;
	text-decoration: line-through;
}

.btn_thb {
	display: inline-block;
	padding-left: 20px;
	padding-right: 17px;
	padding-top: 16px;
	padding-bottom: 16px;
	border: 1px solid #b0ac9c;
	color: #b0ac9c;
	font-size: 14px;
	text-align: center;
	text-decoration: none;
}

.key {
	padding-top: 30px;
	text-align: center;
}


/*----- Woman -----*/

 .sectionSale {
	position: relative;
	margin-bottom: 60px;
}

.sectionSale__item {
	width: 100%;
	height: auto;
}

h2 {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 30px;
	margin: auto;
	font-size: 20px;
	text-align: center;
	letter-spacing: 10px;
}

h2 a {
	color: #000;
	text-decoration: underline;
}

/*----- footer -----*/

.footer {
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #000;
	text-transform: uppercase;
}

.flexContainer {
	display: flex;
	justify-content: space-between;
}


.flexContainer__item {
	display: flex;
	flex-direction: column;
}

.flexContainer__part1,
.flexContainer__part2,
.flexContainer__part3 {
	display: flex;
	font-size: 14px;
	flex-direction: column;
}

.flexContainer__btn {	
	padding-top: 20px;
}

.btn {
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 17px;
	padding-right: 17px;
	border: 1px solid #fff;
	font-size: 14px;
}

.flexFooter__cp {
	display: flex;
	padding-top: 20px;
	justify-content: center;
	font-size: 14px;
	color: #fff;
}

.flexFooter__cp a {
	padding-left: 4px;
	text-decoration: underline;
}


/*---------- 480 -------------*/

@media screen and (min-width: 480px) { 
	

.slick-slide img {
	width: 100%;
	height: auto;
}

.container {
	padding-left: 54px;
	padding-right: 54px;
}

.thumbNails__item {
	display: inline;
}


h2 {
	font-size: 24px;
}

}

/*---------- 750 (768) -------------*/

@media screen and (min-width: 768px) {

.thumbNails__item {
	display: inline-block;
	width: 33.3%;
	vertical-align: top;
}

.flexContainer {
	display: flex;
}

.flexContainer__item {
	width: 70%;
	text-align: left;
	flex-direction: row;
	justify-content: space-between;
}

.flexContainer__part1,
.flexContainer__part2,
.flexContainer__part3,
.flexFooter__cp,
.btn {
	font-size: 12px;
} 

.flexContainer__btn {
	display: flex;
	width: 30%;
	padding-top: 0;
	align-items: baseline;
	justify-content: flex-end;
}

.flexFooter__cp {
	justify-content: flex-start;
}

/*---------- 970 (992) -------------*/

@media screen and (min-width: 992px) {


}

/*---------- 1200 -------------*/

@media screen and (min-width: 1200px) {

.sectionSale {
	margin-bottom: 70px;
}

.flexContainer__item {
    width: 60%;
}

.flexContainer__btn {
	width: 40%;
}

}